section.wrapper {
  width: 84%;
}

/* Smartphones (portrait and landscape) ----------- */

/* @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  section.wrapper {
    width: 84%;
  }
} */

/* iPads (portrait and landscape) ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Styles */
  section.wrapper {
    width: 80%;
  }
}

/* Desktops and laptops ----------- */

@media only screen and (min-width: 1224px) {
  section.wrapper {
    width: 40%;
  }
}

/* Large screens ----------- */

@media only screen and (min-width: 1824px) {
  section.wrapper {
    width: 30%;
  }
}
